/**
    tubeify.css
    Authors: Konrad Markus <konker@gmail.com>
*/

#loading img {
    display: none;
    }

#controls {
    }
    #controls .button,
    #controls .small-button {

        /*
        */
        font: 0/0 a;
        text-shadow: none;
        color: transparent;

        float: left;
        display: block;
        }
        #controls .button {
            width: 30px;
            height: 30px;
            }
        #controls .small-button {
            width: 12px;
            height: 12px;
            }
        a.play:hover {
            background-position: 0 -30px; 
            }
        a.play:active {
            background-position: 0 -60px; 
            }
        a.pause:hover {
            background-position: -30px -30px; 
            }
        a.pause:active {
            background-position: -30px -60px; 
            }
    #controls .play {
        background: url(../img/play-pause.png) 0 0 no-repeat;
        }
    #controls .pause {
        background: url(../img/play-pause.png) -30px 0 no-repeat;
        }
    #controls .prev {
        background: url(../img/previous.png) 0 0 no-repeat;
        }
    #controls .next {
        background: url(../img/next.png) 0 0 no-repeat;
        }
    #controls .vol-down {
        background: url(../img/min-vol.png) 0 0 no-repeat;
        }
    #controls .vol-up {
        background: url(../img/max-vol.png) 0 0 no-repeat;
        }

        #player {
            kvisibility: hidden;
            }

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
    }
.cf:after { clear:both; }

/* For IE 6/7 (trigger hasLayout) */
.cf { zoom:1; }
